@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
}

.page-layout {
    display: flex;
    flex-direction: column;
    .content {
        height: 100vh;
        width: 100%;
    }
    .page-header {
        background-color: #0186df;
    }
}

.login-page, .sign-up-page {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .sign-up-container {
        width: 310px;
        height: 380px;
        padding: 35px;
        background-color: white;
        box-shadow: 2px 2px 8px #888888;
        border-radius: 10px;
        .sign-up-label {
            color: #202020;
            font-size: 12px;
            .sign-up-text-field {
                input[type="text"],
                input[type="email"],
                input[type="password"] {
                    border: none;
                    border-bottom: 1px solid #0186df;
                    width: 240px;
                    background-color: #ffffff !important;
                    &:focus {
                        border-bottom-color: #0186df;
                        background-color: #ffffff !important;
                    }
                }
            }
        }
    }

    .login-container {
        width: 340px;
        height: 270px;
        padding: 35px;
        box-shadow: 2px 2px 8px #888888;
        border-radius: 10px;
        background-color: white;
        .login-label {
            color: #202020;
            font-size: 12px;
            .login-text-field {
                input[type="text"],
                input[type="email"],
                input[type="password"] {
                    border: none;
                    border-bottom: 1px solid #0186df;
                    width: 240px;
                    background-color: #ffffff !important;
                    &:focus {
                        border-bottom-color: #0186df;
                        background-color: #ffffff !important;
                    }
                }
            }
        }
    }
}

.login-button, .sign-up-button {
    padding: 5px 25px;
    color: #0186df;
    font-size: 14px;
    border: #0186df 1px solid;
    border-radius: 5px;
    display: block;
    margin: 25px auto;
    cursor: pointer;
    background: transparent;
}

.profile-pic-button {
    border: none;
    background: transparent;
    cursor: pointer;
    img {
        width: 35px;
        height: 35px;
        margin: 15px;
        border: 1px solid #202020;
        border-radius: 50%;
        background-color: aliceblue;
    }
}

.sign-out-button {
    cursor: pointer;
    font-size: 14px;
    border: white 1px solid;
    color: white;
    border-radius: 5px;
    margin: 20px 10px;
    vertical-align: top;
    background: transparent;
}

.login-link, .sign-up-link {
    font-size: 16px;
    color: #0186df;
    text-align: center;
}

.logo {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
    margin: 25px;
}

a {
    text-decoration: none;
    color: #0186df;
    &:focus {
        text-decoration: none;
        color: #0186df;
    }
}

.float-right {
    float: right;
}

.page-not-found {
    font-size: 30px;
    color: #b31313;
    text-align: center;
    .page-not-found-text {
        color: #5a646b;
        margin-left: 10px;
    }
}

.dashboard {
    font-size: 30px;
}

.user-list {
    padding: 20px;
    .user-header {
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        border-bottom: 1px solid #0186df;
        margin-bottom: 15px;
        .user-title {
            font-size: 20px;
            font-weight: 600;
            flex: 0 0 40%;
        }
    }
    .user-list-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 35px;
        grid-row-gap: 25px;
        .card {
            flex: 0 0 25%;
            .active {
                color: #20b313;
            }
            .inactive {
                color: #b31313;
            }
        }
        .card-img-top {
            width: 175px;
            height: 175px;
            align-self: center;
            border-radius: 50%;
            margin-top: 15px;
        }
    }
}

.workout-list {
    padding: 20px;
    .workout-header {
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        justify-content: space-between;
        border-bottom: 1px solid #0186df;
        margin-bottom: 15px;
        .workout-title {
            font-size: 20px;
            font-weight: 600;
        }
    }
    .workout-list-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;
        .card {
            flex: 0 0 25%;
            .workout-status {
                font-size: 9px;
                border: 1px solid #202020;
                border-radius: 15px;
                padding: 2px 8px;
                margin: 0 10px;
                .active {
                    color: #20b313;
                }
                .inactive {
                    color: #b31313;
                }
            }
        }
        .card-img-top {
            width: 100%;
            height: 175px;
        }
    }
}

.error-message {
    font-size: 12px;
    color: #b31313;
}

#modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal:empty {
    display: none;
}

.user-profile {
    background-color: white;
    width: 500px;
    padding: 15px;
    border-radius: 5px;
    .view-profile-container, .edit-profile-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .profile-action-buttons {
            .edit-button, .close-button {
                cursor: pointer;
                color: white;
                border-radius: 6px;
                width: 70px;
                height: 30px;
                margin: 5px;
                border: none;
                background-color: #3F51B5;
            }
            .close-button {
                background-color: #F44336;
            }
        }
        .profile-details {
            font-size: 16px;
            padding: 20px 60px;
            .profile-header {
                text-align: center;
            }
            .profile-photo-preview {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .profile-pic {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    border: 1px solid #202020;
                }
            }
            .active {
                color: #20b313;
            }
            .inactive {
                color: #b31313;
            }
        }
        .profile-label {
            color: #202020;
            font-size: 12px;
            .profile-text-field {
                input[type="text"],
                input[type="email"] {
                    border: none;
                    border-bottom: 1px solid #0186df;
                    width: 240px;
                    background-color: #ffffff !important;
                    &:focus {
                        border-bottom-color: #0186df;
                        background-color: #ffffff !important;
                    }
                }
            }
        }
        .upload-picture-action {
            .upload-button, .cancel-button {
                cursor: pointer;
                color: white;
                border-radius: 6px;
                width: 70px;
                height: 30px;
                margin: 5px;
                border: none;
                background-color: #3F51B5;
            }
            .cancel-button {
                background-color: #F44336;
            }
        }
    }

}

.content-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    .side-nav-bar-container {
        height: 100%;
    }
    .side-nav-links {
        margin: 15px 0;
        a {
            color: #202020;
            padding-left: 10px;
            &:hover {
                color: #F44336;
                text-decoration: none;
            }
        }
    }
}

.text-align-center {
    text-align: center;
}

.search-label {
    .search-text-field {
        input[type="text"] {
            border: none;
            border-bottom: 1px solid #0186df;
            width: 240px;
            background-color: #ffffff !important;
            &:focus {
                border-bottom-color: #0186df;
                background-color: #ffffff !important;
            }
        }
    }
}

.filter-container {
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #202020;
    z-index: 1000;
    background-color: #ffffff;
    width: 400px;
    .filter-title {
        font-size: 20px;
        font-weight: 600;
    }
    .filter-elements {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px 0;
        .date-label {
            display: flex;
            .date-field-name {
                flex: 0 0 25%;
            }
            .date-field {
                margin-left: 10px;
            }
        }
        .checkbox-label {
            display: flex;
            .checkbox-field-name {
                flex: 0 0 25%;
            }
            .checkbox-field {
                margin-left: 10px;
            }
        }
    }
    .filter-footer {
        .action-button {
            margin: 5px;
        }
    }
}